
<nav>
  <div class="nav-wrapper">
    <div class="container">
      <%= link_to 'Jazzy Creations', root_path, class: "brand-logo" %>
    </div>

    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', root_path %></li>
      <li><%= link_to 'Cards', root_path %></li>
      <li><%= link_to 'Contact Us', root_path %></li>
      <li><%= link_to 'Sign Up', root_path %></li>
      <li><%= link_to 'Log In', root_path %></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', root_path %></li>
      <li><%= link_to 'Cards', root_path %></li>
      <li><%= link_to 'Contact Us', root_path %></li>
      <li><%= link_to 'Sign Up', root_path %></li>
      <li><%= link_to 'Log In', root_path %></li>
    </ul>
  </div>
</nav>
